<section class="section section_about hAuto" id="about-ico">
  <div class="parallax_container">
    <div class="valign">
      <div class="valign__row">
        <div class="valign__cell">
          <div class="container">
            <div class="row">
              <div class="col-md-8 automargin">
                <div class="section_tag">Details</div>
                <h2 class="section_title">The Lykke 2-year Forward token sale</h2>

                <div class="list_details">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">ERC20 token</div>
                        <div class="list_item__description">Type</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">Ethereum</div>
                        <div class="list_item__description">Underlying blockchain</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">LKK2Y</div>
                        <div class="list_item__description">Symbol</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">December 12, 2017</div>
                        <div class="list_item__description">Token sale date</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">25,000,000</div>
                        <div class="list_item__description">Total number of two-year Lykke tokens to be sold</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">CHF 0.21–0.25</div>
                        <div class="list_item__description">Issue price per coin (or forward price)</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">T + 730</div>
                        <div class="list_item__description">Date of settlement: (T = day of trigger event)</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">Up to CHF 6,000,000</div>
                        <div class="list_item__description">Amount of capital to be raised</div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                      <div class="list_item">
                        <div class="list_item__title">USD, EUR, CHF, GBP, BTC, and ETH</div>
                        <div class="list_item__description">Accepted currencies</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <h4>About the issuer</h4>
                    <p>
                      <strong>Company name</strong>: Lykke Corp;
                      <strong>Registered address</strong>: 2 Baarerstrasse, 6300 Zug, Switzerland;
                      <strong>Identification number</strong>: CHE-345.258.499.</p>
                    <br>
                    <h4>Distribution</h4>
                    <p>95.3% token investors, 4.7% reward program</p>
                  </div>
                  <div class="col-sm-6">
                    <h4>Regions blocked</h4>
                    <p>The jurisdictions and/or persons where the sale of LKK2Y and the distribution of corresponding material
                      are not allowed, include, but are not limited to, the United States of America, U.S. Persons, Canada,
                      Australia, New Zealand, the People’s Republic of China, South Korea, Crimea – Region of Ukraine, Cuba,
                      Iran, North Korea, Sudan, and Syria.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>