<section class="section section_ecosystem" id="ecosystem">
  <div class="parallax_container section_inner"
       data-anchor-target="#ecosystem"
       data-bottom-top="top: 100%;"
       data--200p-top="top: 0%;"
       data--300p-top="top: -100%;"
       data-center="top: 0%;"
       data-top="top: 0%;opacity: 1;"
    >
    <div class="valign">
      <div class="valign__row">
        <div class="valign__cell">
          <div class="container hsContainer">
            <div class="row">
              <div class="col-md-5 col-lg-5">

                <div class="section_tag">Network</div>
                <h2 class="section_title">Lykke Ecosystem</h2>
                <p class="lead">Lykke is building a regulated blockchain-based market infrastructure that will enable institutional access and bring long-term patient liquidity to the crypto economy, improve price discovery, and decrease volatility.</p>

                <div class="parallax_text_groups">
                  <div class="text_group"
                       data--40p-top="opacity:1"
                       data--50p-top="opacity:0"
                       data-anchor-target="#ecosystem"
                  >
                    <h3>Lykke today</h3>
                    <h4>Settlement</h4>
                    <p>The Lykke Exchange has pioneered interoperable and scalable infrastructure for settlement on public blockchains. We have extended the original infrastructure, which operated on Bitcoin’s OpenAsset protocol, to the Ethereum-based ERC20 standard. Limitations in transaction capacity are overcome using bidirectional micropayment channels of the Lightning Network type.</p>
                  </div>

                  <div class="text_group"
                       data--50p-top="opacity:0"
                       data--60p-top="opacity:1"
                       data--100p-top="opacity:1"
                       data--110p-top="opacity:0"
                       data-anchor-target="#ecosystem"
                  >
                    <h3>Lykke today</h3>
                    <h4>Global Liquidity Network</h4>
                    <p>Lykke is creating a global liquidity network, which will aggregate the liquidity of tokens that are listed on major international trading venues, including Lykke’s own. All price making is supported by the algorithmic models of our Alpha Engine.</p>
                  </div>

                  <div class="text_group"
                       data--110p-top="opacity:0"
                       data--120p-top="opacity:1"
                       data--160p-top="opacity:1"
                       data--170p-top="opacity:0"
                       data-anchor-target="#ecosystem"
                  >
                    <h3>Lykke today</h3>
                    <h4>Regulated venues</h4>
                    <p>We have opened subsidiaries in the United States, Mexico, the United Kingdom, Singapore, Cyprus, and Switzerland.</p>
                    <p>We have also obtained a Vanuatu Security Dealers license for Asia and Africa, and a Cyprus Investment Firm's license for the European Union (final authorization stage)</p>
                  </div>

                  <div class="text_group"
                       data--170p-top="opacity:0"
                       data--180p-top="opacity:1"
                       data-anchor-target="#ecosystem"
                  >
                    <h3>Near future</h3>
                    <h4>Lykke 2.0</h4>
                    <div class="row">
                      <div class="col-md-6">
                        <ul class="list_styled">
                          <li>Wallets ecosystem</li>
                          <li>Trading bridges</li>
                          <li>Decentralized real time matching engine</li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul class="list_styled">
                          <li>Partner apps</li>
                          <li>Algo store</li>
                          <li>Payment networks</li>
                          <li>100% crowdbased trading platform</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7">
                <div class="parallax_image_groups"
                     data-anchor-target="#ecosystem"
                     data-bottom-top="top: 150%;"
                     data--10p-bottom="top: 50%;"
                     data--100p-bottom="top: -80%;"
                     data-center="top: 50%;"
                     data-top="top: 50%;"
                >
                  <div class="ecosystem_layer__plate ecosystem_layer__plate--1"
                       data--40p-top="opacity:.5; transform: translate3d(0, 0px, 0)"
                       data--55p-top="opacity:.25; transform: translate3d(0, 20px, 0)"
                       data--105p-top="opacity:.25; transform: translate3d(0, 20px, 0)"
                       data--115p-top="opacity:.25; transform: translate3d(0, 40px, 0)"
                       data-anchor-target="#ecosystem"
                  ><span></span></div>
                  <div class="ecosystem_layer__plate ecosystem_layer__plate--2"
                       data--40p-top="opacity:0"
                       data--55p-top="opacity:.5; transform: translate3d(0, 0px, 0)"
                       data--105p-top="opacity:.5; transform: translate3d(0, 0px, 0)"
                       data--115p-top="opacity:.25; transform: translate3d(0, 20px, 0)"
                       data-anchor-target="#ecosystem"
                  ><span></span></div>
                  <div class="ecosystem_layer__plate ecosystem_layer__plate--3"
                       data--105p-top="opacity:0;"
                       data--115p-top="opacity:.5;"
                       data-anchor-target="#ecosystem"
                  ><span></span></div>

                  <div class="ecosystem_layer ecosystem_layer--1">
                    <div class="ecosystem_layer__inner"
                         data--35p-top="opacity:1"
                         data--45p-top="opacity:0"
                         data-anchor-target="#ecosystem"
                      >
                      <img class="ecosystem_layer__image" src="images/blockchains.png" width="742">
                      <div class="ecosystem_layer__title">Blockchains</div>

                      <div class="ecosystem_element ecosystem_element--1">
                        <div class="ecosystem_element__img floating"><img src="images/bitcoin_icn.png" alt="Bitcoin" width="72"></div>
                        <div class="ecosystem_element__title">Bitcoin</div>
                      </div>
                      <div class="ecosystem_element ecosystem_element--2">
                        <div class="ecosystem_element__img floating"><img src="images/other_crypto_icn.png" alt="blockchains" width="72"></div>
                        <div class="ecosystem_element__title">permissioned and public blockchains</div>
                      </div>
                      <div class="ecosystem_element ecosystem_element--3">
                        <div class="ecosystem_element__img floating"><img src="images/ethereum_icn.png" alt="Ethereum" width="72"></div>
                        <div class="ecosystem_element__title">Ethereum</div>
                      </div>
                    </div>
                  </div>
                  <div class="ecosystem_layer ecosystem_layer--2">
                    <div class="ecosystem_layer__inner"
                         data--45p-top="opacity:0"
                         data--55p-top="opacity:1"
                         data--95p-top="opacity:1"
                         data--105p-top="opacity:0"
                         data-anchor-target="#ecosystem">
                      <div class="ecosystem_layer__title">Global Liquidity Network</div>

                      <div class="ecosystem_element ecosystem_element--1"
                           data--45p-top="transform: scale(.9)"
                           data--55p-top="transform: scale(1)"
                           data-anchor-target="#ecosystem"
                           style="background-image: url(images/accelerator_field.png)">
                        <div class="ecosystem_element__title">Alpha Engine</div>
                      </div>
                      <div class="ecosystem_element ecosystem_element--2"
                           style="background-image: url(images/fx_crypto_field.png)"
                           data--46p-top="transform: scale(.9)"
                           data--58p-top="transform: scale(1)"
                           data-anchor-target="#ecosystem"
                      >
                        <div class="ecosystem_element__title">Liquidity Hub</div>
                      </div>
                    </div>
                  </div>
                  <div class="ecosystem_layer ecosystem_layer--3">
                    <div class="ecosystem_layer__inner"
                         data--95p-top="transform: scale(.95)"
                         data--105p-top="opacity:0"
                         data--115p-top="opacity:1; transform: scale(1)"
                         data-anchor-target="#ecosystem"
                    >
                      <img class="ecosystem_layer__image" src="images/map.png" width="930">

                      <div class="map_legend">
                        <div class="map_legend__item map_legend__item--green">At the moment</div>
                        <div class="map_legend__item">In the near future</div>
                      </div>

                      <div class="map_pin" style="left: 220px; top: 210px;">
                        <div class="map_pin__line" style="height: 195px"></div>
                        <div class="map_pin__title">USA</div>
                        <div class="badges-hidden"
                             data--170p-top="opacity:0"
                             data--180p-top="opacity:1"
                             data-anchor-target="#ecosystem"
                        >
                          <button class="map_badge" type="button" data-toggle="popover" title="ATS" data-content="And here's some amazing content. It's very engaging. Right?">ATS</button>
                          <button class="map_badge" type="button" data-toggle="popover" title="RIA" data-content="And here's some amazing content. It's very engaging. Right?">RIA</button>
                          <button class="map_badge" type="button" data-toggle="popover" title="FCM" data-content="And here's some amazing content. It's very engaging. Right?">FCM</button>
                          <button class="map_badge" type="button" data-toggle="popover" title="DCM" data-content="And here's some amazing content. It's very engaging. Right?">DCM</button>
                          <button class="map_badge" type="button" data-toggle="popover" title="MSB" data-content="And here's some amazing content. It's very engaging. Right?">MSB</button>
                        </div>
                      </div>

                      <div class="map_pin" style="top: 345px; left: 280px;">
                        <div class="map_pin__line" style="height: 70px"></div>
                        <div class="map_pin__title">Mexico</div>
                        <div class="badges-hidden"
                             data--170p-top="opacity:0"
                             data--180p-top="opacity:1"
                             data-anchor-target="#ecosystem"
                        >
                          <button class="map_badge" type="button" data-toggle="popover" title="MT" data-content="And here's some amazing content. It's very engaging. Right?">MT</button>
                        </div>
                      </div>

                      <div class="map_pin map_pin--right" style="left: 340px; top: 198px;">
                        <div class="map_pin__line" style="height: 75px"></div>
                        <div class="map_pin__title">UK</div>
                        <div class="badges-hidden"
                             data--170p-top="opacity:0"
                             data--180p-top="opacity:1"
                             data-anchor-target="#ecosystem"
                        >
                          <button class="map_badge" type="button" data-toggle="popover" title="MTF" data-content="And here's some amazing content. It's very engaging. Right?">MTF</button>
                        </div>
                      </div>

                      <div class="map_pin" style="left: 440px; top: 100px;">
                        <div class="map_pin__line" style="height: 175px"></div>
                        <div class="map_pin__title">Switzerland</div>
                        <div class="badges-hidden"
                             data--170p-top="opacity:0"
                             data--180p-top="opacity:1"
                             data-anchor-target="#ecosystem"
                        >
                          <button class="map_badge" type="button" data-toggle="popover" title="OTF" data-content="Company name: Lykke Pte. Ltd., Registered address: 22 North Canal Road #02-00, Singapore 048834, Registration number: 201716567K.">OTF</button>
                        </div>
                      </div>

                      <div class="map_pin" style="left: 515px; top: 164px;">
                        <div class="map_pin__line" style="height: 95px"></div>
                        <div class="map_pin__title">Cyprus</div>
                        <button class="map_badge map_badge--green" type="button" data-toggle="popover" title="CIF" data-content="Company name: Lykke Pte. Ltd., Registered address: 22 North Canal Road #02-00, Singapore 048834, Registration number: 201716567K.">CIF</button>
                        <div class="badges-hidden"
                             data--170p-top="opacity:0"
                             data--180p-top="opacity:1"
                             data-anchor-target="#ecosystem"
                        >
                          <button class="map_badge" type="button" data-toggle="popover" title="EMI" data-content="Company name: Lykke Pte. Ltd., Registered address: 22 North Canal Road #02-00, Singapore 048834, Registration number: 201716567K.">EMI</button>
                        </div>
                      </div>

                      <div class="map_pin " style="left: 715px; top: 103px;">
                        <div class="map_pin__line" style="height: 115px"></div>
                        <div class="map_pin__title">Singapore</div>
                        <div class="badges-hidden"
                             data--170p-top="opacity:0"
                             data--180p-top="opacity:1"
                             data-anchor-target="#ecosystem"
                        >
                          <button class="map_badge" type="button" data-toggle="popover" title="RMO" data-content="And here's some amazing content. It's very engaging. Right?">RMO</button>
                          <button class="map_badge" type="button" data-toggle="popover" title="SVF" data-content="And here's some amazing content. It's very engaging. Right?">SVF</button>
                        </div>
                      </div>

                      <div class="map_pin map_pin--right" style="right: 120px; top: -10px;">
                        <div class="map_pin__line" style="height: 175px"></div>
                        <div class="map_pin__title">Vanuatu</div>
                        <button class="map_badge map_badge--green" type="button" data-toggle="popover" title="Dealer" data-content="And here's some amazing content. It's very engaging. Right?">Dealer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>