<section class="section section_lead section_lead--alt" id="lead">
  <div class="section_bg"></div>

  <div class="valign">
    <div class="valign__row">
      <div class="valign__cell">
        <div class="section_header">
          <div class="container">
            <h1 class="section_title">Lykke 2-year forward</h1>
            <div class="section_subtitle">Lykke is a global regulated marketplace on the blockchain.
              Invest in a 2-year forward contract on LKK and get a discount.</div>
            <div class="label">Special limited offer. December 12, 2017</div>
            <a href="#form" type="button" class="btn btn--bordered">Get on the whitelist</a>
          </div>
        </div>

        <div class="section_content">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h4 class="hidden-xs hidden-sm">Documents</h4>

                <ul class="list_links">
                  <li class="list_links__item">
                    <a href="whitepaper.pdf" target="_blank">
                      <span class="list_links__text">Whitepaper</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                  <li class="list_links__item">
                    <a href="factsheet.pdf" target="_blank">
                      <span class="list_links__text">Fact sheet</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                  <li class="list_links__item">
                    <a href="investordeck.pdf" target="_blank">
                      <span class="list_links__text">Investor deck</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                  <li class="list_links__item">
                    <a href="memorandum.pdf" target="_blank">
                      <span class="list_links__text">Information memorandum</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 text-right">
                <div class="counter">
                  <div class="counter__title">The token sale will start&nbsp;in:</div>

                  <div class="countdown" id="countdown">
                    <div class="countdown__item">
                      <span class="days"></span>
                      <div class="countdown__text">Days</div>
                    </div>
                    <div class="countdown__colon">:</div>
                    <div class="countdown__item">
                      <span class="hours"></span>
                      <div class="countdown__text">Hours</div>
                    </div>
                    <div class="countdown__colon">:</div>
                    <div class="countdown__item">
                      <span class="minutes"></span>
                      <div class="countdown__text">Minutes</div>
                    </div>
                    <div class="countdown__colon">:</div>
                    <div class="countdown__item">
                      <span class="seconds"></span>
                      <div class="countdown__text">Seconds</div>
                    </div>
                  </div>

                  <div class="counter__text">The whitelist is&nbsp;filled at
                    <span id="fundsReceived"></span>&nbsp;CHF
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>