<section class="section section_lead section_lead--alt" id="lead">
  <div class="section_bg"></div>

  <div class="valign">
    <div class="valign__row">
      <div class="valign__cell">
        <div class="section_header">
          <div class="container">
            <h1 class="section_title">Lykke 2-year forward</h1>
            <div class="section_subtitle">The first step to Lykke 2.0. Special limited offer. December&nbsp;12,&nbsp;2017</div>
            <div class="label">Buy in the Lykke Wallet app.</div>
            <div class="apps">
              <div class="apps_apple">
                <a href="https://appsto.re/ru/Dwjvcb.i" class="app_link app_link--appstore" title="App Store" target="_blank" rel="noopener noreferrer">
                  <img src="images/appstore-badge-dark.svg" width="170" alt="apps_apple">
                </a>

              </div>
              <div class="apps_google">
                <a href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet" class="app_link app_link--googleplay" title="Google Play"
                   target="_blank" rel="noopener noreferrer">
                  <img src="images/google-play-dark.svg" width="170" alt="apps_google">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="section_content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="list_links">
                  <li class="list_links__item">
                    <a href="whitepaper.pdf" target="_blank">
                      <span class="list_links__text">Whitepaper</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                  <li class="list_links__item">
                    <a href="factsheet.pdf" target="_blank">
                      <span class="list_links__text">Fact sheet</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                  <li class="list_links__item">
                    <a href="investordeck.pdf" target="_blank">
                      <span class="list_links__text">Investor deck</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                  <li class="list_links__item">
                    <a href="memorandum.pdf" target="_blank">
                      <span class="list_links__text">Information memorandum</span>
                      <span class="list_links__action">download</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>