<section class="section section_team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="section_tag">Who we are?</div>
        <h2 class="section_title">Team</h2>

        <div class="slick_slider">
          <div class="team_item">
            <div class="team_item__img">
              <img src="" alt="">
            </div>
            <div class="team_item__main">
              <div class="team_item__social">
                <a href=""><i class="icon icon--fb_simple"></i></a>
                <a href=""><i class="icon icon--tw"></i></a>
              </div>
              <div class="team_item__title">Quah Zheng Wei</div>
              <div class="team_item__desc">Lykke Singapore</div>
            </div>

            <div class="team_item__text">
              Zheng Wei joined Lykke Asia in August 2017. His experience includes corporate finance at a major investment bank, mobile payments in a fast-growing start-up and is on route to becoming a Chartered Accountant in Singapore…
            </div>

            <a href="" class="btn btn--flat">Read more</a>
          </div>
          <div class="team_item">
            <div class="team_item__img">
              <img src="" alt="Ralph Zurkinden">
            </div>
            <div class="team_item__main">
              <div class="team_item__social">
                <a href=""><i class="icon icon--fb_simple"></i></a>
                <a href=""><i class="icon icon--tw"></i></a>
              </div>
              <div class="team_item__title">Ralph Zurkinden</div>
              <div class="team_item__desc">Board of Directors</div>
            </div>

            <div class="team_item__text">
              Ralph Zurkinden is convinced that the nascent application of blockchain technology has the potential to get rid of many of the flaws in the current financial-, economic- and social systems. In the past ten years Ralph was an active angel investor with focus...
            </div>

            <a href="" class="btn btn--flat">Read more</a>
          </div>
          <div class="team_item">
            <div class="team_item__img">
              <img src="" alt="Heinrich Zetlmayer">
            </div>
            <div class="team_item__main">
              <div class="team_item__social">
                <a href=""><i class="icon icon--fb_simple"></i></a>
                <a href=""><i class="icon icon--tw"></i></a>
              </div>
              <div class="team_item__title">Heinrich Zetlmayer</div>
              <div class="team_item__desc">Board of Directors</div>
            </div>

            <div class="team_item__text">
              Heinrich Zetlmayer is engaged in a number of growth companies in FinTech, crowdtasking, and other digital domains, whether as a board member, in operations, or as an investor. He has served as Co-Managing Director of Turtle Entertainment, the largest...
            </div>

            <a href="" class="btn btn--flat">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal">

</div>