<section class="section section_thankyou" id="thankyou" style="background-image: url(/images/rays_thank_you.png)">
  <div class="valign">
    <div class="valign__row">
      <div class="valign__cell">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5 automargin">
              <h2>Thank you for submitting your order!</h2>

              <h4>What's next?</h4>
              <ol class="list_styled">
                <li>Download the Lykke Wallet app for
                  <a href="https://appsto.re/ru/Dwjvcb.i" target="_blank" rel="noreferrer nofollow">iOS</a> or
                  <a href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet" target="_blank" rel="noreferrer nofollow">Android</a>.
                </li>
                <li>Complete the KYC procedure. To begin, tap the button
                  <img src="images/plus_icn.svg" width="20" height="20" alt=" + "> next to any fiat currency in the app.</li>
                <li>The jurisdictions and/or persons where the sale of LKK2Y and the distribution of corresponding material are
                  not allowed, include, but are not limited to, the United States of America, U.S. Persons, Canada, Australia,
                  New Zealand, the People’s Republic of China, South Korea, Crimea – Region of Ukraine, Cuba, Iran, North
                  Korea, Sudan, and Syria.</li>
                <li>Deposit fiat or crypto in your Lykke Wallet to get LKK2Y at the best price.</li>
              </ol>

              <div class="section_subtitle">
                The token sale starts at 12:00 CET on December 12, 2017.
                <br> See you there!
              </div>

              <a href="/" class="btn btn--bordered">Go to mainpage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>