<section class="section section_subscribe" id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-6">
        <h2 class="section_title">
          Don’t miss
          <br>important news
        </h2>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="block_subscribe">
          <div class="block_subscribe__title">Subscribe to Lykke updates right in your mailbox</div>
          <form class="form form--subscribe" id="frmSubscribe">
            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control">
              <label for="email" class="control-label">Enter your email</label>
              <button type="button" id="btnSubscribe" class="btn btn--bordered btn--icon input-group-addon">
                <i class="icon icon--arrow-right-alt"></i>
              </button>
            </div>
            <small id="subscribeResult" style="color: #fff;font-size: 12px; display: none">Thank you for signing up for the newsletter!</small>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-6">
        <a href="https://lykke.com" target="_blank" class="footer_logo">
          <img src="images/logo_white.svg" alt="lykke logo" width="134" height="40">
        </a>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="apps apps--left">
          <div class="apps_apple">
            <a href="https://appsto.re/ru/Dwjvcb.i" class="app_link app_link--appstore" title="App Store" target="_blank" rel="noopener noreferrer">
              <img src="images/appstore-badge.svg" width="170" alt="apps_apple">
            </a>

          </div>
          <div class="apps_google">
            <a href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet" class="app_link app_link--googleplay" title="Google Play"
              target="_blank" rel="noopener noreferrer">
              <img src="images/google-play.svg" width="170" alt="apps_google">
            </a>
          </div>
        </div>

        <div class="footer__text">
          <p>
            The offer of LKK2Y tokens is not being made directly or indirectly in, nor is it intended to extend to, the U.S. and to U.S.
            persons, Canada, Australia, New Zealand, the People's Republic of China, South Korea, Crimea - Region of Ukraine,
            Cuba, Iran, North Korea, Sudan, Syria and any other country or jurisdiction where such an offer would be considered
            unlawful or in which it would otherwise breach any applicable law or regulation or which would require Lykke
            Corp to amend any term or condition of the offer in any way or which would require Lykke Corp to make any filing
            with, or take any additional action with regards to, any governmental, regulatory, or legal authority.
          </p>
          <p>
            The information contained herein does not constitute an invitation to purchase, or an offer of, LKK2Y tokens in any jurisdiction
            or to any person in which and/or to which such offer or sale would be unlawful. In the case where in your jurisdiction
            restrictions with regard to the persons who may participate in the offer exist, Lykke Corp will not allow your
            purchase of LKK2Y tokens if you fail to prove you fulfill the requirements to purchase LKK2Y tokens pursuant
            to the laws and regulations of your local jurisdiction.
          </p>
          <p>
            By participating in the offer of LKK2Y you accept and confirm to be in compliance with these sales restrictions.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-6">
        <div class="footer__copy">© 2017 Lykke, Inc.</div>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="footer__links">
          <a href="https://www.lykke.com/company/news" target="_blank">Investors notifications</a>
          <a href="https://www.lykke.com/privacy_policy" target="_blank">Privacy Policy</a>
          <a href="https://www.lykke.com/terms_of_use" target="_blank">Terms of Use</a>
          <a href="https://lykkex.zendesk.com/hc/en-us" target="_blank">Support</a>
        </div>

        <ul class="social visible-xs visible-sm">
          <li>
            <a href="https://www.facebook.com/LykkeCity" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--fb_simple"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/lykke" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--tw"></i>
            </a>
          </li>
          <li>
            <a href="http://instagram.com/lykkecity" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/LykkeX" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/lykke" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--linkedin-icn"></i>
            </a>
          </li>
          <li>
            <a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--reddit"></i>
            </a>
          </li>
          <li>
            <a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--telegram"></i>
            </a>
          </li>
          <li>
            <a href="http://lykkecommunity.herokuapp.com" target="_blank" class="social__item" rel="noopener noreferrer">
              <i class="icon icon--slack"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>