<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Lykke 2-year Forward token sale: ERC20 based forward token</title>
  <meta name="description" content="Lykke 2-Year Forward is an ERC20 based token standard that confers the right of the holder to receive the base value of the token, expressed in digitized Lykke shares, or Lykke coins (LKK).">
  <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

  <meta property="og:title" content="Lykke 2-year Forward token sale: ERC20 based forward token" />
  <meta property="og:description" content="Lykke 2-Year Forward is an ERC20 based token standard that confers the right of the holder to receive the base value of the token, expressed in digitized Lykke shares, or Lykke coins (LKK)."
  />
  <meta property="og:image" content="https://lkk2y.lykke.com/facebook_banner_big.png" />
  <meta property="og:image:secure_url" content="https://lkk2y.lykke.com/facebook_banner_big.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="314">
  <meta property="og:site_name" content="https://lkk2y.lykke.com/" />

  <meta name="twitter:card" content="card_type">
  <meta name="twitter:site" content="https://lkk2y.lykke.com/">
  <meta name="twitter:title" content="Lykke 2-year Forward token sale: ERC20 based forward token">
  <meta name="twitter:description" content="Lykke 2-Year Forward is an ERC20 based token standard that confers the right of the holder to receive the base value of the token, expressed in digitized Lykke shares, or Lykke coins (LKK).">
  <meta name="twitter:image:src" content="https://lkk2y.lykke.com/twitter.png">

  <!-- Page hiding snippet (recommended) -->
  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>
  <script>
    (function (a, s, y, n, c, h, i, d, e) {
      s.className += ' ' + y;
      h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
      (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c);
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, { 'GTM-K5Q43JZ': true });
  </script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K5Q43JZ');</script>
  <!-- End Google Tag Manager -->
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="100">

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5Q43JZ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%= require('html-loader?attrs=false!./partials/header.html') %>

    <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
      <%= require('html-loader?attrs=false!./partials/sections/ecosystem.html') %>
        <%= require('html-loader?attrs=false!./partials/sections/about.html') %>
          <%= require('html-loader?attrs=false!./partials/sections/about-ico.html') %>
            <!--<%= require('html-loader?attrs=false!./partials/sections/team.html') %>-->
            <%= require('html-loader?attrs=false!./partials/sections/form.html') %>

              <%= require('html-loader?attrs=false!./partials/footer.html') %>

                <div class="navbar" id="navbar" data-top-bottom="opacity:1;">
                  <div class="container">
                    <div class="navbar_inner">
                      <ul class="nav-dots nav" role="tablist">
                        <li>
                          <a href="#ecosystem">
                            <span>Lykke Ecosystem</span>
                          </a>
                        </li>
                        <li>
                          <a href="#about">
                            <span>About LKK2Y</span>
                          </a>
                        </li>
                        <li>
                          <a href="#about-ico">
                            <span>LKK2Y sale details</span>
                          </a>
                        </li>
                        <!-- <li>
                          <a href="#team">
                            <span>Team</span>
                          </a>
                        </li> -->
                        <li>
                          <a href="#form">
                            <span>Get on the whitelist</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
                <script src="scripts/bootstrap.min.js"></script>
                <script src="scripts/imagesloaded.js"></script>
                <script src="scripts/skrollr.js"></script>
                <script src="scripts/scroll.js"></script>
                <script type="text/javascript" src="https://offershub.ru/js/public/OHTracking.min.js"></script>

                <script>
                  $(document).ready(function () {
                    /*         $(function () {
                               $('[data-toggle="popover"]').popover({
                                 container: 'body',
                                 placement: 'left',
                                 trigger: 'focus'
                               })
                             })*/

                    $('.header_affix').affix({
                      offset: {
                        top: function () {
                          return (this.top = ($(window).outerHeight() - $('.header_affix').outerHeight()))
                        }
                      }
                    })

                    $('.discount_img').affix({
                      offset: {
                        top: function () {
                          return (this.top = $('#about-ico').offset().top + 400)
                        }
                      }
                    })
                  })
                </script>

</body>

</html>